
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
}


.container{
  display: flex;
  flex-direction: column;
  
}


#header{
  position: relative;
  width: 100%;
  height: 108vh;
}

#main-container{
  display: flex;
  flex-direction: row;
  z-index: 6;
  height: 100%;
}

.image-slider{
  flex: 1;
  background-color: orange;
  position: relative;
}



.text-slide {
  position: absolute;
  top: 160px;
  display: none;
  left: 40px;
  color: #000;
  transition: all 0.3s ease;
}


.image-gallary{
  flex: 2;
  overflow: hidden;
  height: 100%;
  width:100%;
  /*max-height: 100%;*/
  object-fit: contain;
  position: relative;
  transition: all 0.3s ease;
  background-color: yellow;
}

.navigation .prev {
  position: absolute;
  z-index: 8;
  font-size: 2rem;
  top: 80%;
  left: 50px;
  font-weight: 700;
}
.navigation .next {
  position: absolute;
  font-size: 2rem;
  z-index: 8;
  top: 80%;
  right: 50px;
  font-weight: 700;
}
.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
  transition: all 0.3s ease;
}


.image-gallary .image-slide img{
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  object-fit: contain;
  object-position: center;
}

.image-slide {
  position: absolute;
  display: none;
}


.main-slide {
  display: block;
}



#navbar{
  background-color: white;
  padding: 0 3rem;
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#navbar ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

#navbar li{
  height: 80px;
}


#navbar a{
  height: 100%;
  padding: 0 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000000;
}

#navbar a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-underline-offset: 9px; 
  text-decoration-color: red;
}

#navbar li:first-child{
  margin-right: auto;
}

#navbar.scrolled {
  background-color: white;
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.sidebar{
  position: fixed;
  top: 80px;
  right: 0;
  height: 45vh;
  width: 100%;
  z-index: 1000;
  display: none;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ddd;
  transform: translateX(100%);
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.8s ease 0.2s;
}

.sidebar li{
  width: 100%;
  padding-top: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}

.sidebar a{
  display: block;
  width: 100%;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: lightgrey; 
  
  
}

.sidebar li:last-child{
  border-bottom: none;
}

.sidebar.show {
  display: flex; 
  transform: translateX(0); 
  opacity: 1; 
}

.menu-button{
  display: none;
}


@media(max-width: 650px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }

  #main-container{
    display: flex;
    flex-direction: column;
  }

  .image-slider{
    flex: 2;
  }
  .image-gallary{
    flex: 1;
  }


  .sidebar{
    z-index: 10;
  }

  
  
}



.second-main-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.second-main-top-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.second-left-container{
  margin-top: 5rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}



#second-navbar{
  display: flex;
  flex-direction: row;
  gap: 10px;

}

#second-navbar li{
  list-style-type: none;
}

#second-navbar a{
  text-decoration: none;
}

.food-info{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.food-info .ingredients{
  max-width: 440px;
}




.nutrients{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border: 2px solid red;
  border-radius: 10%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: red;
  color: white;
  z-index: 3;
  
}



.nutrients-first-row,
.nutrients-second-row{
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  z-index: 3;
  
}

.nutrients-first-row li,
.nutrients-second-row li{
  list-style-type: none;
}

.nutrients-first-row li p,
.nutrients-second-row li p{
  line-height: 1.6rem;
}

.background-product-image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  top: 15%;
  left:-15%;
  z-index: 2;
}

.second-right-container{
  flex: 1;
  position: relative;
  
}

.ingredients-image p{
  max-width: 170px;
  padding: 1rem;
  border: 2px solid red;
  position: absolute;
  top: 40%;
  right: 4%;
  background-color: transparent;
  z-index: 3;
  

}


.mcdonald-logo-onpage-div{
  position: absolute;
  width: 60%;
  height: 60%;
  background-image: url("https://mcdindia.com/wp-content/uploads/2020/01/m-logo-big.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: -10%;
  right:-10%;
 
}

